<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.health_service_provider.mapper.CheckGroupMapper">

    <insert id="setCheckGroupAndCheckItem"
            parameterType="com.tony.health_service_provider.domin.CheckGroupRelationParam">
        insert into t_checkgroup_checkitem(checkgroup_id, checkitem_id)
        values (#{param.checkGroupId}, #{param.checkItemId})
    </insert>

    <select id="findCheckItemIdByCheckGroupId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select checkitem_id
        from t_checkgroup_checkitem
        where checkgroup_id = #{id}
    </select>

    <delete id="deleteCheckItemByCheckGroupId" parameterType="java.lang.Integer">
        delete
        from t_checkgroup_checkitem
        where checkgroup_id = #{id}
    </delete>

</mapper>
