<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.health_service_provider.mapper.RoleMapper">


    <select id="queryRoleByUserId" parameterType="java.lang.Integer" resultType="com.tony.health_common.pojo.Role">
        select tr.*
        from t_role tr
                 inner join t_user_role tur on tur.role_id = tr.id
        where tur.user_id = #{userId}
    </select>

</mapper>
