<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.health_service_provider.mapper.SetMealMapper">

    <insert id="setSetMealAndCheckGroup" parameterType="com.tony.health_service_provider.domin.SetMealRelationParam">
        insert into t_setmeal_checkgroup(setmeal_id, checkgroup_id)
        values (#{param.setmealId}, #{param.checkGroupId})
    </insert>
    <delete id="deleteCheckGroupBySetMealId" parameterType="java.lang.Integer">
        delete
        from t_setmeal_checkgroup
        where setmeal_id = #{id}
    </delete>
</mapper>
